body{
    padding:20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container{
    background-color:rgb(35, 161, 88);
    color:#eee;
    display:flex;
    flex-direction: column;
    text-align: center;
}
#header{
    padding:5px 15px;
    text-align:center;
    background-color:rgba(21, 196, 114, 0.89);
    color:orangered;
}
#status{
    background-color:#eee;
    padding:15px 10px;
}
select{
    padding:5px 15px;
    border-radius:5px;
}
#result{
    padding:10px 30px;
}
#logo{
    height:50px;
    width:50px;
}
a{
    text-decoration: none;
    color:#eee;
    /* background-color:orangered; */
    padding:20px 15px;
}

